/* responsavel pela a home */

.containercd {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: rgb(218, 214, 214);
  padding: 50px;
  margin-top: 10px;
}



