/* responsavel pela a home */

.containercd {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: rgb(8, 8, 8); /* fundo preto escuro */
  padding: 50px;
}



