.containerr {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #e20808;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
  padding: 30px 90px ;
  background-color: #5b5d5f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
   gap: 20px;
  
}
