.containerDespesas {
  width: 600px;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  
  
  border-radius: 5px;
  padding: 15px;
  
}

.containerDespesas h2 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  
  padding: 10px;
  border-radius: 5px;
}

.containerDespesas p {
  margin: 6px 0;
  padding: 6px 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  border-left: 5px solid transparent;
  border-radius: 4px;
}

/* Estilos por tipo de linha */
.linha-bruto {
  
  color: rgb(12, 3, 3);
  border-radius: 4px;
}


.filtros input {
  width: 250px; /* ou 200px, ajuste como preferir */
  padding: 8px;
  font-size: 14px;
  
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
  margin-left: 65px;
}

/* //////////////////////Grade de itens //////////////////////q */

.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 700px; /* 🔧 Cards largos, mas limitados em telas grandes */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Layout interno dos itens */
.grid-row {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre label e valor */
}

.label {
  font-weight: bold;
  color: #333;
  margin-right: 3px;
  min-width: 120px; /* ou o tamanho que quiser */
}

.value {
  color: #555;
  text-align: center;
  flex-grow: 1;
  font-size: 15px;
  min-width: 140px;
  word-break: break-word;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .grid-row {
    flex-direction: row; /* ✅ mantém nome + valor na mesma linha */
    align-items: center;
  }

  .value {
    text-align: right;
    width: auto;
    flex-grow: 1;
    white-space: nowrap; /* ✅ evita quebra */
  }

  .label {
    white-space: nowrap;
  }
}


